
block head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title=title
  link(rel='icon', type='png', href='/img/Vooked Copy.png')
  link(rel='stylesheet', href='/css/foundation.css')
  link(rel='stylesheet', href='/css/foundation-icons/foundation-icons.css')
  link(rel='stylesheet', href='/css/app.css')
  link(rel='stylesheet', href='/css/style.css')
    
include scripts.pug
