block section
  hr
  section#overview
    h2 Overview
    img(src='/img/overview copy.png')
    p VookeD is a two-sided marketplace that connects the best restaurant staff members with the best staffing agencies in town.

  section#staffing
    h2 The Right Staffing
    img(src='/img/rightStaffing Copy.png')
    p VookeD connects staffing agencies with people that works in hospitality every single day! at the best restaurant in the city.

  section#scheduling
    h2 Flexible Scheduling
    img(src='/img/chalendar copy.png')
    p We find you work that fits with your availabilty.
    br
    
    
    
    
    
    
