doctype
html
  head
    link(rel='stylesheet', href='/css/thanks.css')
  include head
  
  
  
  
  body
    .callout.primary
      h1 Thanks for the support.
      .small-5.small-push-1
        a.button.expanded(href='http://localhost:9000/') BACK
    
    include scripts
